In [14]:
import pandas as pd
from sqlalchemy import create_engine
from time import time
# df = pd.read_parquet('yellow_tripdata_2024-01.parquet')
# df.to_csv('yellow_tripdata_2024-01.csv', index=False)

In [2]:
df_iter = pd.read_csv('yellow_tripdata_2024-01.csv', iterator=True, chunksize=100000)

In [3]:
df = next(df_iter)

In [4]:
len(df)

100000

In [5]:
# Convert datatype
df.tpep_pickup_datetime =pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2024-01-02 13:34:18,2024-01-02 13:38:13,1.0,0.70,1.0,N,263,75,1,5.8,2.5,0.5,2.00,0.0,1.0,11.80,2.5,0.0
99996,1,2024-01-02 13:47:42,2024-01-02 13:59:26,1.0,1.70,1.0,N,236,238,1,11.4,2.5,0.5,4.60,0.0,1.0,20.00,2.5,0.0
99997,2,2024-01-02 13:23:51,2024-01-02 13:36:29,1.0,1.87,1.0,N,236,162,1,12.8,0.0,0.5,3.36,0.0,1.0,20.16,2.5,0.0
99998,2,2024-01-02 13:42:04,2024-01-02 13:48:39,1.0,1.58,1.0,N,229,263,2,9.3,0.0,0.5,0.00,0.0,1.0,13.30,2.5,0.0
99999,2,2024-01-02 13:54:12,2024-01-02 13:57:25,1.0,0.64,1.0,N,236,263,2,-5.8,0.0,-0.5,0.00,0.0,-1.0,-9.80,-2.5,0.0

In [7]:
# SQL parameter
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
# Give SQL's CREATE statement
# print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [9]:
%time df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists='replace')

CPU times: user 58.8 ms, sys: 13.8 ms, total: 72.6 ms
Wall time: 201 ms

0

In [12]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')

CPU times: user 5.25 s, sys: 98.6 ms, total: 5.35 s
Wall time: 8.66 s

1000

In [13]:
# use iterator to read the dataset, each time with chunksize = 10000
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime =pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')
    t_end = time()
    print("inserted another trunk..., took %.3f seconds" %(t_end-t_start))

inserted another trunk..., took 8.903 seconds
inserted another trunk..., took 8.678 seconds
inserted another trunk..., took 8.644 seconds
inserted another trunk..., took 8.646 seconds
inserted another trunk..., took 8.813 seconds
inserted another trunk..., took 8.784 seconds
inserted another trunk..., took 8.823 seconds
inserted another trunk..., took 8.755 seconds
inserted another trunk..., took 8.839 seconds
inserted another trunk..., took 8.909 seconds
inserted another trunk..., took 8.677 seconds
inserted another trunk..., took 8.828 seconds
inserted another trunk..., took 8.808 seconds
inserted another trunk..., took 8.794 seconds
inserted another trunk..., took 8.716 seconds
inserted another trunk..., took 9.245 seconds
inserted another trunk..., took 8.787 seconds
inserted another trunk..., took 8.710 seconds
inserted another trunk..., took 8.781 seconds
inserted another trunk..., took 8.773 seconds
inserted another trunk..., took 8.874 seconds
inserted another trunk..., took 9.059 seconds
inserted another trunk..., took 9.185 seconds
inserted another trunk..., took 8.801 seconds
inserted another trunk..., took 8.666 seconds
inserted another trunk..., took 8.799 seconds
inserted another trunk..., took 9.043 seconds

/var/folders/l3/2lpv_xj556l837r3q990r7t40000gn/T/ipykernel_1404/4257642442.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another trunk..., took 8.231 seconds
inserted another trunk..., took 5.305 seconds

StopIteration: